{% extends "base.html" %} {% block content %} {% load static %}
<div class="welcome">
  <h1>About</h1>
</div>

<div class="about">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur corrupti
  earum assumenda eaque repellendus qui officia accusantium veritatis.
  Voluptatum, minus odit iste soluta velit mollitia quaerat cum eaque voluptates
  officiis, dignissimos voluptas non saepe tempora exercitationem repudiandae
  neque ab aut dolores beatae sunt. Iusto esse tenetur sed libero nam excepturi
  voluptatibus, quas quae quasi nobis magni distinctio reiciendis aliquid, eaque
  laudantium in tempora voluptate dolorem quibusdam dolorum. Corrupti, earum
  architecto nostrum odit maiores eius inventore quod vero? Voluptatem
  necessitatibus sunt voluptatibus harum labore impedit voluptates doloremque
  eligendi ea, molestias iusto a, aspernatur ratione iste et debitis delectus
  est voluptatum sapiente in! Non dolorum accusantium est quibusdam sequi, nemo
  doloribus quos deserunt, nulla odit et repellat quis repudiandae ipsa iure.
  Atque, ea ex asperiores facilis sed laborum quia provident consequatur commodi
  dolores rerum doloribus sint, fugit nihil! Vel voluptatum natus, quis facere
  sapiente unde accusamus quaerat perferendis earum exercitationem fugiat animi
  ut ipsa quibusdam reprehenderit delectus ad, eos nesciunt quo totam ipsum,
  tempora odio nostrum nobis? Quisquam eum ad asperiores dolorem obcaecati,
  odit, voluptate ratione culpa laudantium modi molestias cumque rerum veritatis
  molestiae vel dolor? Soluta sint beatae, exercitationem veniam repellat
  reiciendis quam impedit hic. Soluta adipisci, dignissimos unde ea sunt
  perferendis vel vero consequatur eius iure dolorem. Tempora, facilis quis,
  beatae asperiores neque esse praesentium magnam, iure harum cum illo.
  Architecto laudantium dolorem voluptate debitis doloribus voluptates dicta
  eum. Inventore odio fugit enim eaque, sunt recusandae, obcaecati dolor,
  blanditiis itaque hic nihil modi eum officiis similique ea harum ducimus eius
  cupiditate. Ipsam velit assumenda facere at debitis, sed necessitatibus qui
  eum consequatur soluta maiores harum! Aut ea quam, quis blanditiis at
  perferendis. Totam iusto facilis veritatis officia rerum voluptatibus eum
  itaque? Possimus, veniam! Accusamus tempore voluptates assumenda tenetur
  necessitatibus, nesciunt aliquam harum corrupti eveniet porro cumque? Iure,
  facilis hic? Ex veniam dolores possimus esse reiciendis quis ipsa eaque.
  Explicabo rem placeat non, asperiores et vero ad perferendis iusto odio vel
  consequatur, repudiandae magni distinctio, eius ut enim illum. Quasi,
  provident! Eligendi ipsam nihil mollitia consectetur quas distinctio accusamus
  laboriosam quaerat amet, numquam omnis a laborum, eveniet atque totam ut
  corrupti, assumenda doloremque animi? Labore nulla ipsum, veritatis molestiae
  mollitia, quasi vero porro unde magni, placeat corrupti voluptatibus maiores
  cum voluptates iure recusandae repudiandae? Nulla repellendus, ratione odio et
  porro totam cupiditate temporibus optio perspiciatis sequi harum est earum
  eaque explicabo vitae iusto. Necessitatibus ea aperiam vitae, tempore aliquid
  facilis ut!
</div>
{% endblock %}
